<div class="register-container">
  <h2>Rejestracja</h2>
  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="registerForm.get('firstName')?.errors?.['required']">
        Imię jest wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="registerForm.get('lastName')?.errors?.['required']">
        Nazwisko jest wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="registerForm.get('username')?.errors?.['required']">
        Nazwa użytkownika jest wymagana
      </mat-error>
      <mat-error *ngIf="registerForm.get('username')?.errors?.['minlength']">
        Nazwa użytkownika musi mieć minimum 3 znaki
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">
        Email jest wymagany
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
        Nieprawidłowy format emaila
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
        Hasło jest wymagane
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']">
        Hasło musi mieć minimum 6 znaków
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="registerForm.errors?.['mismatch']">
        Hasła nie są identyczne
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numer telefonu</mat-label>
      <input matInput formControlName="phoneNumber">
      <mat-error *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">
        Nieprawidłowy format numeru telefonu (9 cyfr)
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rola</mat-label>
      <mat-select formControlName="role">
        <mat-option value="patient">Pacjent</mat-option>
        <mat-option value="doctor">Lekarz</mat-option>
        <mat-option value="admin">Administrator</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        {{ loading ? 'Rejestracja...' : 'Zarejestruj się' }}
      </button>
      <button mat-button type="button" routerLink="/login">
        Masz już konto? Zaloguj się
      </button>
    </div>
  </form>
</div> 