<div class="reservation-form">
  <h2 mat-dialog-title>Rezerwacja wizyty</h2>
  
  <mat-dialog-content>
    <form [formGroup]="reservationForm">
      <mat-form-field>
        <mat-label>Typ wizyty</mat-label>
        <mat-select formControlName="type">
          <mat-option value="consultation">Konsultacja</mat-option>
          <mat-option value="control">Wizyta kontrolna</mat-option>
          <mat-option value="treatment">Zabieg</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Czas trwania</mat-label>
        <mat-select formControlName="duration">
          <mat-option value="30">30 minut</mat-option>
          <mat-option value="60" *ngIf="data.canBook60Min">60 minut</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Uwagi dla lekarza</mat-label>
        <textarea matInput formControlName="doctorNotes"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Anuluj</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!reservationForm.valid">
      Zarezerwuj
    </button>
  </mat-dialog-actions>
</div> 