<mat-toolbar color="primary">
  <span>Medical Consultation App</span>
  <nav>
    <button mat-button routerLink="/calendar" routerLinkActive="active">
      Kalendarz
    </button>
    <button mat-button routerLink="/availability" routerLinkActive="active">
      Dostępność
    </button>
    <button mat-button routerLink="/absence" routerLinkActive="active">
      Nieobecności
    </button>
    <button mat-button routerLink="/reservations" routerLinkActive="active">
      Rezerwacje
    </button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer">© 2024 Medical Consultation App</div>
</footer>
