.availability-form {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  .availability-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .availability-form input[type='date'],
  .availability-form input[type='time'] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .availability-form button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .availability-form button:hover {
    background-color: #3b773e;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }
  
  .weekdays-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
  }
  
  .weekday-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .weekday-checkbox input[type="checkbox"] {
    margin: 0;
  }
  
  .time-input {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .time-input small {
    color: #666;
    margin-top: 4px;
  }
  